html,
body {
	font-family: 'Helvetica Neue';
	height: 100%;
	margin: 0;
	position: relative;
	-webkit-user-select: none;
   -moz-user-select: none;
	-ms-user-select: none;
		user-select: none;
	transition: background 3s;
}

body {
	padding: 1em;
}

body.master-client {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

h1 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}

figure,
img {
	height: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 100%;
}

img {
	object-fit: cover;
}

video {
	display: none;
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
	opacity: 0.5;

	&.active {
		display: block;
	}
}

.master-client {
	background: #000;
}

.user-instructions {
	display: none;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 1em;
}

.user-instructions--active {
	display: block;
}

.user-form {
	display: none;
	left: 50%;
	padding: 20px;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -70%);
	width: 90%;
}

.user-form--active {
	display: block;
}

.user-form__input {
	font-size: 22px;
	width: 100%;
}

.user-form__submit {
	border: 1px solid rgba(0,0,0,0.8);
	background: #fff;
	padding: .375em 2em;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 1em;
}

.hit {
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: 0;
	transition: opacity .3s;
	width: 100%;
	z-index: 2;
}

.hit--active {
	opacity: .7;
	position: relative;
}

.hit--active img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.hit__username {
	color: #fff;
	font-size: 2.5em;
	margin: 0;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	font-family: Helvetica;
	letter-spacing: 10px;
	font-weight: 100;
	text-rendering: optimizeLegibility;
}

.user-grid {
	display: none;
	height: 100%;
	width: 100%;

	&.active {
		display: block;
	}
}

.user-grid__block {
	border-bottom: solid 1px #47B5B3;
	border-right: solid 1px #47B5B3;
	float: left;
	height: 33.33333%;
	overflow: hidden;
	position: relative;
	width: 33.33333%;

	&:nth-child(3n) {
		border-right: 0;
	}

	&:nth-child(7),
	&:nth-child(8),
	&:nth-child(9) {
		border-bottom: 0;
	}
}

.hue-rotate {
    opacity: 0.2;
    height: 100%;
    width: 100%;
}

.hue-rotate img {
	filter: hue-rotate(180deg);
	-webkit-filter: hue-rotate(180deg);
	-moz-filter: hue-rotate(180deg);
	-o-filter: hue-rotate(180deg);
	-ms-filter: hue-rotate(180deg);
}

.hue-rotate img:hover {
	filter: hue-rotate(0);
	-webkit-filter: hue-rotate(0);
	-moz-filter: hue-rotate(0);
	-o-filter: hue-rotate(0);
	-ms-filter: hue-rotate(0);
}

.btn.floating {
	background-image: url(/print.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 65px;
}

.btn {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50%;
	position: absolute;
    left: 0;
    right: 0;
}

.floating {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

.grow {
	transition: all 5s;
	will-change: height, width;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	margin:  0 auto;
	height: 100%;
	padding: 2em;
}

.master-client .center {
	color: #fff;
}

.pulse {
	margin-top: 8em;
	z-index: -1;
	object-fit: contain;
	opacity: 0.3;
}

.hashtag {
    position: absolute;
    color: purple;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
}
